<div class= "row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div id="main-content">
      <div class="sub-content" id="article-title">
        <h1><em> <%= experiment.title %></em> </h1>
      </div>
      <div class="sub-content" id="article-abstract">
        <h3> Abstract </h3>
        <p class="local_hidden"> <%= experiment.abstract %> </p>
      </div>
      <div class="sub-content" id="article-intro">
        <h3> Introduction </h3>
        <p class="local_hidden"> <%= experiment.introduction %> </p>
      </div>
      <div class="sub-content" id="article-material">
        <h3> Materials and Methods </h3>
        <p class="local_hidden">
          <%= experiment.materials %>
        </p>
      </div>
      <div class="sub-content" id="article-results">
        <h3> Results </h3>
        <p class="local_hidden"> <%= experiment.results  %> </p>
      </div>
      <div class="sub-content" id="article-disc">
        <h3> Discussion </h3>
        <p class="local_hidden"> <%= experiment.discussion %> </p>
      </div>
      <div class="sub-content" id="article-con">
        <h3> Conclusion </h3>
         <p class="local_hidden"> <%= experiment.conclusion %> </p>
      </div>
      <div class="sub-content" id="article-sup-info">
        <h3> Supporting Info </h3>
         <p class="local_hidden"> <%= experiment.supporting_info %> </p>
      </div>
      <div class="sub-content" id="article-acknow">
        <h3> Acknowledgments </h3>
         <p class="local_hidden"> <%= experiment.acknowledgments %> </p>
      </div>
      <div class="sub-content" id="article-author-cont">
        <h3> Author Contributions </h3>
        <p class="local_hidden"> <%= experiment.author_contributions %> </p>
      </div>
      <div class="sub-content" id="article-ref">
        <h3> References </h3>
        <p class="local_hidden"> <%= experiment.references %> </p>
      </div>
    </div>
    <div class="sub-content" id="staff-content">
        <h3> Current Experiment Staff </h3>
        <ul>
          <li>Lead Researcher: <%= experiment.author.name %></li>
            <% if experiment.staff.empty? %>
              <li id="no-staff">This experiment currently has no staff signed up!</li>
            <% else %>
              <% experiment.staff.each do |staff| %>
                <li>Lab Staff: <%= staff.name %></li>
              <% end %>
            <% end %>
            <li class="list-staff"></li>
        </ul>
        <div class="sign-up-button">
          <% if @user.role.name == "Staff" && @experiment.staff.include?(@user) == false && @experiment.staff.length < 6 %>
            <%= form_for experiment, url: {controller: 'experiments', action: "update"}, remote: true do |f| %>
            <%= f.submit 'Sign Up For Experiment!', :class => 'btn btn-default' %>
            <% end %>
          <br>
          <% end %>
        </div>
    </div>
  </div>

  <div class="col-xs-1">
  </div>


</div>
