<div class= "row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div id="main-content">
      <div class="sub-content" id="article-title">
        <h1> <%= @experiment.title %> </h1>
      </div>
      <div class="sub-content" id="article-abstract">
        <h3> Abstract </h3>
        <p class="hiddensubbbbbbb"> <%= @experiment.abstract %> </p>
      </div>
      <div class="sub-content" id="article-intro">
        <h3> Introduction </h3>
        <p class="hiddensubbbbbbb"> <%= @experiment.introduction %> </p>
      </div>
      <div class="sub-content" id="article-material">
        <h3> Materials and Methods </h3>
        <p class="hiddensubbbbbbb">
          <%= @experiment.materials %>
        </p>
      </div>
      <div class="sub-content" id="article-results">
        <h3> Results </h3>
        <p class="hiddensubbbbbbb"> <%= @experiment.results  %> </p>
      </div>
      <div class="sub-content" id="article-disc">
        <h3> Discussion </h3>
        <p class="hiddensubbbbbbb"> <%= @experiment.discussion %> </p>
      </div>
      <div class="sub-content" id="article-con">
        <h3> Conclusion </h3>
         <p class="hiddensubbbbbbb"> <%= @experiment.conclusion %> </p>
      </div>
      <div class="sub-content" id="article-sup-info">
        <h3> Supporting Info </h3>
         <p class="hiddensubbbbbbb"> <%= @experiment.supporting_info %> </p>
      </div>
      <div class="sub-content" id="article-acknow">
        <h3> Acknowledgments </h3>
         <p class="hiddensubbbbbbb"> <%= @experiment.acknowledgments %> </p>
      </div>
      <div class="sub-content" id="article-author-cont">
        <h3> Author Contributions </h3>
        <p class="hiddensubbbbbbb"> <%= @experiment.author_contributions %> </p>
      </div>
      <div class="sub-content" id="article-ref">
        <h3> References </h3>
        <p class="hiddensubbbbbbb"> <%= @experiment.references %> </p>
      </div>
    </div>
    <div id="staff-content">
        <h3> Current Experiment Staff </h3>
          <%= form_for experiment_path do |f| %>
          <%= f.submit 'Sign Up For Experiment!', :class => 'btn btn-default' %>
          <% end %>
    </div>
  </div>

  <div class="col-xs-1">
  </div>


</div>
